# ========= 通用 =========
# IDE / 编辑器
.vscode/
.wsdata/
.ipcahce/
.idea/
*.swp

# 日志 & 临时
*.log
*.jou
*.tmp
*.bak

# ========= CMake / Make =========
build/             
CMakeFiles/
CMakeCache.txt
cmake_install.cmake


# ========= Xilinx Vivado / Vitis HLS =========
vitis_ide/

logs/
set_int_kernel_proj/
*.runs/
*.cache/
*.sim/
*.hw/
*.ip_user_files/
*.xpr
*.ltx
*.wcfg
*.wdb
*.drc
*.rpt
*.html
*.xml
*.log


*.link_summary
vitis_hls.log
hls/ 
_x/
.Xil/
.vscode



# ========= 可执行文件 / 目标文件 =========
*.exe
*.elf
*.o
*.so
*.a
*.tar
*.tar.gz
*.zip
